$SCUred: #b30738;
$SCUdarkred: #97052e;

body {
  min-height: 100vh;
  background-color: $SCUred;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: $SCUred;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: $SCUdarkred;
  }
}
form {
  background-color: $SCUred;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: 100%;
    .card-block {
      padding: 15px 0;
    }
  }
}

form#login {
  .card {
    max-width: 300px;
  }
}

* {
  text-align: center;
}

input {
  margin-bottom: 15px;
}

label {
  cursor: pointer;
  font-size: 20px;
}
