$SCUred: #b30738;
$SCUdarkred: #97052e;

body {
  min-height: 100vh;
  background-color: $SCUred;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: $SCUred;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: $SCUdarkred;
  }
}

.link {
  color: $SCUred;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: $SCUdarkred;
  }
}

form {
  background-color: $SCUred;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: 100%;
    .card-block {
      padding: 15px 0;
    }
  }
}

form#login, form#createAccount {
  .card {
    max-width: 300px;
  }
}

* {
  text-align: center;
}

input {
  width: 95%;
}

label {
  cursor: pointer;
  font-size: 20px;
}

ul {
  padding: 0;
  margin: 5px;
  li {
    list-style-type: none;
  }
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  overflow: auto !important;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: white;
}
